{% extends 'blog/base.html' %}

{% block content %}

<div class="row body-header"><!--row--->
 <h1>Welcome to Java World</h1>
</div>

<div class="row">
  <div class="col-md-1">
    <!--left side space-->
  </div>

  <div class=" col-md-3 col-sm-3 col-md-push-8"><!---right side link--->
    <br/><br/>
    <blockquote>
    <a href="index.html" >Classes And Types of Classes</a><br>
      <a href="index.html" >Static and Non-Static Members</a><br>
      <a href="JVM Internals.html" >JVM Internals</a><br>
      <a href="index.html" >Multithreading with JVM Architecture</a><br>
      <a href="index.html" >Exception Handling</a><br>
      <a href="index.html" >String Handling</a><br>
      <a href="index.html" >IO Streams(File IO)</a><br>
      <a href="Object-Oriented Principles.html" >Object-Oriented Principles</a><br>
      <a href="Multiple Inheritance in Java with Example.html" >Multiple Inheritance in Java with Example</a><br>
      <a href="index.html" >Collection Framework</a><br>
      <a href="SOLID Principles.html" >SOLID Principles</a><br>
      <a href="POJO Class-Java Bean(VO-BO-DTO Class).html" >POJO Class/Java Bean(VO/BO/DTO Class)</a><br>
      <a href="" >Dao Class/Dao pattern</a><br><br>
      <a href="index.html" >JDBC</a><br>
      <a href="index.html" >Servlet</a><br>
      <a href="index.html" >JSP</a><br><br>
      <a href="index.html" >Spring</a><br>
      <a href="index.html" >Hibernate</a><br>
      <a href="Design Patterns.html" >Design Patterns</a><br>
      <a href="index.html" >Java tools</a><br><br>
      <a href="index.html" >Oracle</a><br><br>
      <a href="index.html" >Bootstrap</a><br>
    </blockquote>
  </div>

  <div class="col-md-8 col-xs-12 col-md-pull-3">
    <div class="body-8-contain">
    <h2 ><strong>Introduction to Java</strong></h2>
     <hr>
     <h4>Java is a very simple,robust,portable,high-level,secured,multithreaded,platfrom independent,
       object-oriented programming language.It was devloped by James Gosling in SUN Microsystems in 1990's
       for devloping internet applications.Its first version is released in January 23,1996.</h4>

       <div class="row">

          <div class="col-sm-4 col-xs-12">
            <a href="index.html" ><h3>Hibernate</h3></a>
            <p>Hibernate is light weight,non-invasive and open source framework (ORM-tool) that is allows to devlop Data Base portal,
               Data Base independent persistence logic with out converting Object to text or simple value </p>
                <button type="button" class="btn btn-primary"><a href="https://en.wikipedia.org/wiki/Hibernate_(framework)" > wikipedia</a></button>
              </div>
               <div class="col-sm-4 col-xs-12">
                 <a href="index.html" ><h3>Spring</h3></a>
                 <p>Spring is an opensource,light weight,loosly  coupled  aspect  oriented,dependency
                    injection based java application framework to devlop various java applications(All kinds of application Desktop app,Web app,enterprise application) .</p>
                     <button type="button"  class="btn btn-primary"><a href="https://en.wikipedia.org/wiki/Spring_Framework" > wikipedia</a></button>
                   </div>
                   <div class="col-sm-4 col-xs-12">
                     <a href="Design Patterns.html" ><h3>Design Patterns</h3></a>
                     <p>	Design Patterns are already defined and provides industry standard approach to solve a recurring problem, so it saves time if we sensibly use the design pattern and it's give  reusability that leads to more robust and highly maintainable code.</p>
                      <button type="button"  class="btn btn-primary"><a href="https://en.wikipedia.org/wiki/Design_Patterns" > wikipedia</a></button>
                    </div>

                  </div><!---row--->

<div class="row">
<div class="col-sm-12">
<h3><strong>Table of Contents</strong></h3>
<blockquote>
  <ul>
  <p><span class="badge">1</span>Programing language</p>
  <p><span class="badge">2</span>Software Technologis</p>
  <p><span class="badge">3</span>Framework</p>
  <ul>
</blockquote>
</div>

<h2><strong>Programming language</strong>
  <button type="button" class="btn btn-primary">
  <a href="https://en.wikipedia.org/wiki/Programming_language" > wikipedia</a>
  </button>
</h2>
<p>It is directly installed software having features to develop software application.
  It is defines syntaxes(Rules),semantics(structures) of programing.These are based to
  create software technologies framework, tools, DB Software, Operating Systems and etc..
  These are raw materials of software programing.Eg:C,C++,C#,Java</p>
<h2><strong>Software Technology</strong></h1>
    <p>It is software specification having set of rules and guidelines to develop software by
       using programing language support. Software technology is not installable but software
       created based on software technologies is installable. Working with software is nothing
       but working with software technologies. In java environment, technology rule are nothing
       but interfaces and guideline are nothing but classes. Abstract class represent both rules
       and guidelines.
       Eg: JDBC, JSP, Servlet and etc.
       JDBC technology gives rules and guidelines to develop driver using java language. Working with
      JDBC Driver is nothing but working with JDBC technology
    </p>
    <h3><strong>There are 2 type of software technologies </strong></h3>
    <blockquote>
      <ul>
      <p><span class="badge">1</span>Open Technologies</p>
      <p><span class="badge">2</span>Proprietary technologies</p>
      <ul>
    </blockquote>

    <div class="row">
      <div class="col-sm-6">
        <h3><strong>Open Technologies: </strong></h3>
        <p>Here the rules and guidelines of technology are open to all software vendor companies to develop software.
          Ex: All JAVA Technologies (JDBC, Servlet, JSP etc.)
        </p>
      </div>
      <div class="col-sm-6">
        <h3><strong>Proprietary technologies:</strong></h3>
        <p>Here the vendor company who has given technology is only allowed to develop software based on technologies.
          Ex: All Microsoft Technologies (ASP.NET)
        </p>
      </div>
    </div>


<h2 ><strong>Framework</strong><button type="button"  class="btn btn-primary">
<a href="https://en.wikipedia.org/wiki/Framework" > wikipedia</a></button></h1>
    <p>Framework is not a installable software that uses existing technologies internally to simplify the application
      development having ability to generate common logic of application.Framework is not installable software that
       provides abstraction layer on existing technologies to simplify the application development process.
       Ex: Struts, Spring, Hibernate.
     </p>
</div>
</div>



  </div><!---div for contain col-md-8--->


</div><!---full-row--->

{% endblock %}
